{% load static %}

<!doctype html>
<html>
  <head>
    <title>Wallace Reis / wreis</title>
    <meta charset="utf-8">
    <meta name="description" lang="en" content="I am Wallace Reis; A.K.A. wreis; Software Engineer; Contributor of open source software projects; Development and operations (DevOps)." />
    <meta name="keywords" content="Wallace Reis, Wallace, Reis, wreis, Wallace Reis CV, Wallace Reis Curriculum Vitae, Wallace Reis Email, Wallace Reis Blog, Software Engineer, Software Developer, software, developer, devops, perl, linux, unix, databases" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="35vuQ7Txl5uoZb7u3umJ6l46SElFNdL3gNf2uGzPdjg" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">| Wallace Reis |</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#about">About</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a title="Linkedin" href="http://www.linkedin.com/in/wallacereis" target="_blank"><img src="/static/images/linkedin.png" width="16px" height="16px"></a></li>
            <li><a title="GitHub" href="https://github.com/wreis" target="_blank"><img src="/static/images/github.png" width="16px" height="16px"></a></li>
            <li><a title="MetaCPAN" href="http://metacpan.org/author/WREIS" target="_blank"><img src="/static/images/metacpan.png" width="16px" height="16px"></a></li>
            <li><a title="Twitter" href="http://twitter.com/wreis" target="_blank"><img src="/static/images/twitter.png" width="16px" height="16px"></a></li>
            <li><a title="Email" href="mailto:wallace@reis.me"><img src="/static/images/email.png" width="16px" height="16px"></a></li>
            <li><a title="Skype" href="skype:reis.wallace"><img src="/static/images/skype.png" width="16px" height="16px"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        <p class="lead">404 - Oooops! Page not found.</p>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JDJ4NSYE3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5JDJ4NSYE3');
    </script>
  </body>
</html>
